---
import { getCollection } from "astro:content";
import DocLayout from "../../layouts/DocLayout.astro";
import { summary } from "./summary";
import PageNav from "../../components/PageNav.astro";

export async function getStaticPaths() {
	const docPages = await getCollection("docs");

	return docPages.map((page) => ({
		params: {
			slug: page.slug,
		},
		props: {
			page,
		},
	}));
}
const { page } = Astro.props;
const { Content } = await page.render();
---

<DocLayout summary={summary}>
	<div class="md-content doc-content">
		<Content />
		<br />
		<PageNav
			previous={page.data.previous}
			previousLabel={page.data.previousLabel}
			nextLabel={page.data.nextLabel}
			next={page.data.next}
		/>
	</div>
</DocLayout>
