---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import AuthorAndDate from "../../components/AuthorAndDate.astro";
import TableOfContents from "../../components/TableOfContents.astro";

export async function getStaticPaths() {
	const posts = await getCollection("posts");

	return posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: {
			post,
		},
	}));
}

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<Layout title={post.data.title + " - Rift"}>
	<div class="flex flex-col gap-4">
		<h1 class="not-prose heading1">{post.data.title}</h1>
		{
			(
				<AuthorAndDate
					author={post.data.author}
					date={post.data.date}
					lastUpdated={post.data.lastUpdated}
				/>
			)
		}
		<div class="md-content">
			<TableOfContents headings={headings} />
			<Content />
		</div>
	</div>
</Layout>
