---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import HomeButton from "../components/HomeButton.astro";

import { getRiftConfig } from "../scripts/riftConfig";

const config = getRiftConfig();
---

<Layout title="Rift for Astro">
	<div class="flex flex-col gap-3">
		<h1 class="heading1">{config.homeHeading}</h1>
		<h3 class="heading3">{config.description}</h3>
		<h4 class="heading4 dim-text">{config.tagline}</h4>
		{
			config.homeButtons && (
				<>
					<>
						<div class="flex flex-row gap-3">
							{config.homeButtons.map((btn) => (
								<HomeButton
									label={btn.label}
									link={btn.link}
									primary={btn.primary}
									targetBlank={btn.targetBlank}
								/>
							))}
						</div>
					</>
					<br />
				</>
			)
		}
		<div class="rift-grid grid-cols-3">
			<Card title="We have features!">
				<p>Most definitely!</p>
			</Card>
			<Card title="We have a cat!">
				<p>We actually don't. We're working on it.</p>
			</Card>
			<Card title="Placeholder">
				<p>Hopefully no one else will see this garbage.</p>
			</Card>
		</div>
	</div>
</Layout>
