---
import Layout from "../layouts/Layout.astro";

import HomeButton from "../components/HomeButton.astro";
import HomeFeature from "../components/HomeFeature.astro";

import { getRiftConfig } from "../scripts/riftConfig";

const config = getRiftConfig();
---

<Layout title={config.siteTitle}>
	<div class="flex flex-col gap-3">
		<h1 class="heading1">{config.home.heading}</h1>
		<h3 class="heading3">{config.home.description}</h3>
		<h4 class="heading4 dim-text">{config.home.tagline}</h4>
		{
			config.home.buttons && (
				<div class="flex flex-row gap-3">
					{config.home.buttons.map((btn) => (
						<HomeButton
							label={btn.label}
							link={btn.link}
							primary={btn.primary}
							targetBlank={btn.targetBlank}
						/>
					))}
				</div>
			)
		}
		<br />
		{
			config.home.features && (
				<div class="rift-grid grid-cols-3">
					{config.home.features.map((feature) => (
						<HomeFeature
							title={feature.title}
							description={feature.description}
						/>
					))}
				</div>
			)
		}
	</div>
</Layout>
