---
import ThemeSwitcher from "./ThemeSwitcher.astro";
import {
	getRiftConfig,
	type RiftNavBarItem,
	type RiftNavBarItemGroup,
} from "../scripts/riftConfig";

const config = getRiftConfig();

// TODO: Fix these non-errors
---

<div class="navbar p-0 m-0">
	<div class="flex-1 content-center justify-start">
		<a
			class="btn btn-ghost text-2xl"
			href="/"
			>{config.siteTitle}</a
		>
	</div>
	<ul class="menu menu-horizontal items-center">
		<ThemeSwitcher />
		{
			config.navbar.items && (
				<>
					{config.navbar.items.map((item) => {
						if (item.link) {
							return (
								<li>
									<a href={item.link}>{item.text}</a>
								</li>
							);
						} else {
							return (
								<li>
									<details>
										<summary>{item.text}</summary>
										<ul class="p-2 bg-base-300 z-50">
											{item.children.map((child: RiftNavBarItem) => (
												<li>
													<a href={child.link}>{child.text}</a>
												</li>
											))}
										</ul>
									</details>
								</li>
							);
						}
					})}
				</>
			)
		}
	</ul>
</div>
